td{
    border: 2px solid red;
}
body {
    /* font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333; */
    background-image: url('image.jpg');
    /* background-size: 100% 500px;
    background-position: 0% 100%; */
  }
