/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url('https://i.postimg.cc/R0LS5Lrq/ea6c9ffe02c5c5d2fcd4784fe039f75f.jpg');
    background-size: 100% 500px;
    background-position: 0% 100%;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Main Content Styles */
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Bookmark Section Styles */
  
  .primary-bookmarks, .secondary-bookmarks {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .primary-bookmarks h2, .secondary-bookmarks h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Bookmark List Styles */
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Tooltip Styles */
  
  .tooltip-text {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
    visibility: hidden;
  }
  
  .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  
  a:hover .tooltip-text {
    visibility: visible;
  }
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode a {
    color: #fff;
  }
  
  .dark-mode a:hover {
    color: #ccc;
  }
  .hidden {
    display: none;
  }
  
  .toggle-button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: #3e8e41;
  }
  